<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="adapter" type="System.Configuration.DictionarySectionHandler" />
	</configSections>
	<adapter>
		<!--<add key="heartbeat" value="10000" />-->
		<!--<add key="enqueue" value="false" />-->
		<add key="dataItem:xPos:format" value="o => { System.Console.WriteLine(&quot;TESTING TESTING TESTING&quot;); return o; }" />
		<add key="dataItem:xPos:name" value="xPosition" />
	</adapter>
</configuration>