<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="adapter" type="System.Configuration.DictionarySectionHandler" />
	</configSections>
	<adapter>
		<!--<add key="heartbeat" value="10000" />-->
		<!--<add key="enqueue" value="false" />-->
		<add key="dataItem:xPos:format" value="AAEAAAD/////AQAAAAAAAAAMAgAAAEdBZGFwdGVySW50ZXJmYWNlLCBWZXJzaW9uPTEuMC4yLjAsIEN1bHR1cmU9bmV1dHJhbCwgUHVibGljS2V5VG9rZW49bnVsbAUBAAAAOE10Y29ubmVjdC5BZGFwdGVySW50ZXJmYWNlLkNyeXB0b2dyYXBoeS5FbmNyeXB0aW9uUmVzdWx0BAAAABQ8S2V5PmtfX0JhY2tpbmdGaWVsZCU8SW5pdGlhbGl6YXRpb25WZWN0b3I+a19fQmFja2luZ0ZpZWxkFjxWYWx1ZT5rX19CYWNraW5nRmllbGQmPENlcnRpZmljYXRlVGh1bWJwcmludD5rX19CYWNraW5nRmllbGQHBwcBAgICAgAAAAkDAAAACQQAAAAJBQAAAAYGAAAAKEE3NzdGRjg5M0ZFRDdGQjJGNTc3NEJDMkZDRTgyOURFQTNEMzM4REMPAwAAAAABAAACCMhOvpSBRSRM2Flxmx+u5BdbdvJplhJbtYJRoQDFn84VoAwvpHAhC6Oaq/9dgVR4khxw/h9hRfDMnUz2bIH1T3Ia0GHvubp/zKX++Fbqbw4ITpnQsukHjeF+ogeiQwjU8KJMofSOO9x8I1S+GYGrXsYNrpewBlUtbsGzZYQDfVL22m7wBbLui79vZ/t52UMpkdr3HLBc1KxH34lGKFUT185+120EgWlS8XvaXSe6nqPLuyIR1TlW1iZ7H8KWBG+KXU+catQuXmC5g/tG2zaBAVqG4Yz9n5avqutPEhfMlsjHB6N0W2/HlNyDYCK4vIp9sI4fKogei75WsvZmIlts0A8EAAAAEAAAAALHhb+24+FTxWFi21pNPtqGDwUAAAAwAAAAAjFqk3jEcS/83eR/W7gLBhBGPCHqIKdovkD9np38WJlCv+agK1aLE+PNHBtcnVhaGAs=" />
		<add key="dataItem:xPos:name" value="xPosition" />
	</adapter>
</configuration>